.footer{
	width: 100%;
	max-width: 1160px;
	padding: 13px 0 35px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 177px 1fr 177px;
	grid-template-rows: auto;
	grid-column-gap: 20px;
	grid-row-gap: 12px;
	grid-template-areas: "logo nav social"
							"logo txt txt";
	img{
		max-width: 100%;
	}
	&__logo{
		grid-area: logo;
		flex-direction: column;
		justify-content: space-between;
	}
	&__txt{
		grid-area: txt;
		color: #007443;
		font-size: 10px;
		line-height: 11px;
		margin: 0;
	}
	&__copy{
		font-size: 10px;
		line-height: 16px;
		letter-spacing: -0.01em;
		color: #000000;
	}
	&__nav{
		grid-area: nav;
	}
	&__social{
		grid-area: social;
	}
	.nav-link{

		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		padding: 0 7px 0 0;
		margin-right: 3px;
		position: relative;
		&:last-child{
			&:after{
				display: none;
			}
		}
		&:after{
			content: '•';
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}