.header{
	width: 100%;
	max-width: 1160px;
	margin: 20px auto;
	display: grid;
	grid-template-columns: 236px 1fr 270px;
	grid-template-rows: auto;
	grid-column-gap: 20px;
	grid-template-areas: 'logo news search';
	&__logo{
		grid-area: logo;
		display: flex;
		align-items: center;
		padding-right: 18px;
		border-right: 1px solid #DDDDDD;
		img{
			width: 100%;
		}
	}
	&__news{
		grid-area: news;
		display: flex;
		padding-right: 18px;
		border-right: 1px solid #DDDDDD;
	}
	&__search{
		grid-area: search;
	}
	&__img{
		width: 130px;
		height: 80px;
		margin-right: 20px;
		flex-shrink: 0;
		img{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
	&__name{
		font-weight: bold;
		font-size: 15px;
		line-height: 18px;
		display: block;
		color: #404040;
	}
	&__rubric{
		color: #404040;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 6px;
		position: relative;
		padding-right: 10px;
		&:after{
			content: '';
			position: absolute;
			top: 3px;
			right: 0;
			background-image: url("img/arrow.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			width: 5px;
			height: 10px;
			overflow: hidden;

		}
	}
	&__social{

	}
	@include r(768){
		grid-template-columns: 40px 1fr;
		grid-template-rows: auto;
		grid-column-gap: 0;
		grid-template-areas: 'search logo';
		padding: 0 15px;
		&__logo{
			align-items: center;
			padding-right: 0;
			border-right: none;
			justify-content: center;
			margin-left: -40px;
			img{
				max-width: 120px;
			}
		}
		&__news{
			display: none;
		}
		&__social{
			display: none;
		}

	}
}