.header{
	width: 1120px;
	margin: 0 auto 11px;
	display: flex;
	align-items: center;
	&__title{
		font-size: 11px;
		line-height: 14px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2.9px;
		margin: 5px 0 0;
	}
	&__logo{
		width: 243px;
		margin-right: 18px;
		align-self: center;
		img{
			width: 100%;
		}
	}
}