.main-person{
	width: 100%;
	max-width: 400px;
	padding: 20px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 20px;
		border-bottom: 1px solid #DDDDDD;
	}
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 18px;
	}
	&__title{
		display: block;
		color: #404040;
		font-size: 24px;
		line-height: 24px;
		font-weight: bold;
		margin: 0;
		position: relative;
		padding-left: 31px;
		padding-right: 17px;

		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
			background-color: #00B25D;
			width: 17px;
			height: 17px;
			overflow: hidden;

		}
		&:after{
			content: '';
			position: absolute;
			top: 7px;
			right: 0;
			background-image: url("img/arrow.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			width: 7px;
			height: 14px;
			overflow: hidden;

		}
	}

	&__item{
		display: flex;
		position: relative;
		margin-bottom: 10px;
		flex-direction: row;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__img{
		display: block;
		width: 100%;
		max-width: 140px;
		flex-shrink: 0;
		margin-right: 10px;
		position: relative;
		img{
			max-width: 100%;
			display: block;
		}
	}
	&__info{
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		font-size: 10px;
		color: #939393;
	}
	&__rubric{
		padding: 0 5px;
		margin-right: 10px;
		color: #00B25D;
		text-transform: uppercase;
	}
	&__view{
		color: #939393;
		background-image: url("img/view.svg");
		background-position: center left;
		background-repeat: no-repeat;
		padding-left: 12px;
		margin-left: auto;
		margin-right: 0;
	}
	&__name{
		display: block;
		color: #404040;
		font-size: 16px;
		line-height: 18px;
		font-family: 'PT Serif', serif;
		position: relative;
	}
}