.main {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	display: grid;
	grid-template-columns: calc(100% - 315px) 295px;
	grid-template-rows: auto;
	grid-column-gap: 20px;
	grid-template-areas:
			"contant aside";
	&__contant{
		grid-area: contant;
	}
	&__aside{
		grid-area: aside;
		padding:0 20px 0 20px;
		border-left: 1px solid #DDDDDD;
		border-right: 1px solid #DDDDDD;
	}
	@include r(768){
		display: block;
		&__contant{
			grid-area: contant;
			border-right: none;
		}
		&__aside{
			padding: 0 10px;
		}
	}
}