.main-news{
	width: 100%;
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 18px;
	}
	&__title{
		display: block;
		color: #404040;
		font-size: 24px;
		line-height: 28px;
		font-weight: bold;
		margin: 0 20px 0 0;
		position: relative;
		padding-left: 31px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
			background-color: #00B25D;
			width: 17px;
			height: 17px;
			border-radius: 50%;
			overflow: hidden;
			
		}
	}
	&__time{
		color: #404040;
		font-size: 12px;
		line-height: 14px;
		font-weight: bold;
		border-bottom: 2px solid #00B25D;
		align-self: flex-start;
	}
	&__inner{
		padding: 20px;
		background-color: #404040;
	}
	&__item{
		display: flex;
		position: relative;
		margin-bottom: 30px;
		flex-direction: row;
		&:last-child{
			margin-bottom: 0;
		}
		&.big{
			flex-direction: column;
			.main-news__img{
				max-width: 100%;
				height: 240px;
				margin-bottom: 8px;
			}
			.main-news__name{
				font-style: normal;
				font-weight: bold;
				font-size: 26px;
				line-height: 30px;
			}
		}
	}
	&__img{
		display: block;
		width: 100%;
		max-width: 140px;
		height: 90px;
		flex-shrink: 0;
		margin-right: 10px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 5px;
			left: 5px;
			background-color: #00B25D;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			overflow: hidden;

		}
		img{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
	&__info{
		display: flex;
		align-items: center;
		max-width: 208px;
		margin-bottom: 5px;
		font-size: 10px;
		color: #939393;
	}
	&__date{
		&.big{
			color: #007443;
			font-size: 18px;
			line-height: 21px;
			font-weight: bold;
		}
	}
	&__rubric{
		padding: 0 5px;
		margin-right: 10px;
		color: #00B25D;
		text-transform: uppercase;
	}
	&__view{
		color: #939393;
		background-image: url("img/view.svg");
		background-position: center left;
		background-repeat: no-repeat;
		padding-left: 12px;
		margin-left: auto;
		margin-right: 0;
	}
	&__name{
		display: block;
		color: #fff;
		font-size: 16px;
		line-height: 18px;
		font-family: 'PT Serif', serif;
		position: relative;
		&:hover{
			color: #00B25D;
		}
	}

	&.v2{
		margin-bottom: 20px;
		.main-news__header{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 18px;
			padding-bottom: 18px;
			border-bottom: 1px solid #DDDDDD;
		}
		.main-news__title{
			&:before{
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0,-50%);
				background-color: #00B25D;
				width: 17px;
				height: 17px;
				overflow: hidden;
				border-radius: 0;
			}
		}
		.main-news__time{
			display: none;
		}
		.main-news__inner{
			display: grid;
			grid-template-columns: 340px 1fr;
			grid-template-rows: repeat(3,90px);
			grid-column-gap: 20px;
			grid-row-gap: 20px;
			padding-top: 20px;
			background-color: #EDEDED;
		}
		.main-news__item{
			margin-bottom: 0;
			&.big{
				grid-column: 1 / 2;
				grid-row: 1 /5;
				.main-news__img{
					display: block;
					max-width: 100%;
					margin: 0 0 18px;
				}
				.main-news__name{
					font-size: 24px;
					line-height: 28px;
					&:after{
						content: '';
						position: absolute;
						bottom: -20px;
						left: 0;
						background-color: #00B35D;
						width: 180px;
						height: 5px;
					}
				}
			}
		}
		.main-news__list{
		}
		.main-news__name{
			display: block;
			color: #404040;
			font-size: 16px;
			line-height: 20px;
			font-family: 'PT Serif', serif;
			position: relative;
			font-weight: bold;

		}
	}
}