.popular {
	position: relative;
	width: 100%;
	margin-bottom: 19px;
	padding-right: 9px;
	border-right: 1px solid #dddddd;
	&__title {
		display: block;
		color: #404040;
		font-size: 18px;
		line-height: 21px;
		font-weight: bold;
		margin-bottom: 16px;
		position: relative;

		.arrow {
			position: relative;
			padding-right: 13px;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				background-image: url("img/arrow.svg");
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
				width: 7px;
				height: 14px;
				overflow: hidden;

			}
		}
	}

	.nav-link {
		width: 85px;
		height: 30px;
		margin-right: -4.9px;
		display: inline-block;
		font-size: 14px;
		line-height: 30px;
		color: #404040;
		text-align: center;
		border: 1px solid #404040;
	}

	&__item {
		display: block;
		text-decoration: none;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #dddddd;
	}


	&__num {
		font-weight: bold;
		font-size: 128px;
		line-height: 128px;
		text-align: right;
		color: #DDDDDD;
		text-decoration: none;
		margin-left: 45px;
	}

	&__info {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		font-size: 10px;
		color: #939393;
	}

	&__rubrik {
		color: #007443;
		font-size: 14px;
		margin-bottom: 2px;
	}

	&__view {
		color: #404040;
		font-size: 12px;
		background-image: url("img/view.svg");
		background-position: center left;
		background-repeat: no-repeat;
		padding-left: 12px;
		margin-right: 0;
	}

	&__date {
		font-weight: 500;
		font-size: 12px;
		line-height: 13px;
		color: #404040;
		margin-right: 10px;
	}
	&__link{
		display: block;
		text-decoration: none;
		margin-bottom: 9px;
		&:hover{
			text-decoration: none;
			*{
				color: #007443;
			}
		}
	}
	&__name {
		display: block;
		text-decoration: none;
		font-family: 'PT Serif', serif;
		color: #404040;
		font-size: 16px;
		line-height: 18px;
		font-weight: bold;
		margin: 0 0 10px;
	}
	&__anons{
		color: #404040;
		font-size: 14px;
		line-height: 16px;
		margin: 0 0 4px;
	}

	&__tabs {
		> input {
			display: none;
			&:checked + label {
				color: #ffffff;
				font-weight: bold;
				background-color: #00B25D;
			}
		}
	}

	&__section {
		display: none;
		margin-top: 23px;
		animation-duration: 1s;
		animation-fill-mode: both;
		animation-name: fadeIn;
	}

	#tab1:checked ~ #content-tab1,
	#tab2:checked ~ #content-tab2,
	#tab3:checked ~ #content-tab3 {
		display: block;
	}

	@-webkit-keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}