.project{
	position: relative;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 19px;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		border-bottom: 1px solid #DDDDDD;
	}
	&__title{
		display: block;
		color: #404040;
		font-size: 18px;
		line-height: 21px;
		font-weight: bold;
		margin-bottom: 16px;
		position: relative;
		.arrow{
			position: relative;
			padding-right: 13px;
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(0, -50%);
				background-image: url("img/arrow.svg");
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
				width: 7px;
				height: 14px;
				overflow: hidden;

			}
		}
	}
	&__item{
		display: block;
		text-decoration: none;
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}