.search{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	&__input{
		width: 100%;
		max-width: 225px;
		height: 30px;
		border: 1px solid #C4C4C4;
		margin-right: 15px;
		padding: 0 10px;
		font-size: 12px;
		line-height: 14px;
		&:focus{
			border-color: #00B25D;
			outline-color: #00B25D;
		}
	}
	&__submit{
		background-image: url("img/search.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 25px;
		height: 22px;
		border: none;
		background-color: transparent;

	}
	@include r(768){
		margin-bottom: 0;
		&__input{
			display: none;
		}
		&__submit{
			width: 30px;
			height: 32px;
		}
	}
}