.social{
	display: flex;
	align-items: flex-end;
	&__item{
		display: inline-block;
		margin-left: 10px;
		text-decoration: none;
		background-repeat: no-repeat;
		background-size: 100%;
		&:first-child{
			margin-left: 0;
		}
		&.telegram{
			background-image: url("img/telegram.svg");
			width: 21px;
			height: 21px;
		}
		&.youtube{
			background-image: url("img/youtube.svg");
			width: 30px;
			height: 21px;
		}
		&.fb{
			background-image: url("img/fb.svg");
			width: 21px;
			height: 21px;
		}
		&.vk{
			background-image: url("img/vk.svg");
			width: 33px;
			height: 21px;
		}
		&.inst{
			background-image: url("img/instagram.svg");
			width: 21px;
			height: 21px;
		}
	}
}