.social{
	display: flex;
	align-items: flex-end;
	&.sticky{
		position: sticky;
		top: 20px;
	}
	&__item{
		margin-left: 10px;
		margin-bottom: 5px;
		text-decoration: none;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 26px;
		height: 26px;
		&.fb{
			background-image: url("img/facebook-square.svg");
		}
		&.twitter{
			background-image: url("img/twitter-square.svg");
		}
		&.telegram{
			background-image: url("img/telegram-square.svg");
		}
		&.whatsapp{
			background-image: url("img/whatsapp-square.svg");
		}
		&.vk{
			background-image: url("img/vkontakte-square.svg");
		}
		&.inst{
			background-image: url("img/instagram-square.svg");
		}
		&.youtube{
			background-image: url("img/youtube-square.svg");
		}
	}
	&.sticky{
		position: sticky;
		flex-direction: column;
	}
}